@media screen and (max-width: 400px) {
    .header {
        width: 100vw;
        height: 20vh;
    }

    .main {
        width: 100vw;
        height: 80vh;
        flex-direction: column;
    }

    .left {
        width: 100vw;
        height: 60vh;
    }

    .right {
        width: 100vw;
        height: 20vh;
    }
}