body {
    display: flex;
    justify-content: center;
}

div {
    width: 40vw;
}

.top {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: black;

}

.instagram {
    width: 100%;
}