.main {
    height: 300px;
    width: 100%;
    background-color: bisque;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.block {
    width: 100px;
    height: 100px;
    background-color: red;
    transition: 1.5s;

}
.num:hover {
    background-color: darkgray;
    transition: 1.5s;
    border-radius: 50%;
}